<div class="row">
  <div class="col-lg-12">
    <nb-card [hidden]="editorEnabled">
      <nb-card-header>
        Unit Table 
        <button type="button" class="btn btn-outline-success with-margins" (click)="onClickCreate()" title="New"><i class="fa fa-plus"></i></button>
        <button type="button" class="btn btn-primary with-margins" (click)="onClickRefresh()" title="Refresh"><i class="fa fa-sync"></i></button>
      </nb-card-header>
    
      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <form (ngSubmit)="onSubmit()" [formGroup]="unitForm">
    <nb-card [hidden]="!editorEnabled">
      <nb-card-header>{{ title }} Unit</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <label>Unit Code</label>
          <input type="hidden" class="form-control" formControlName="id"/>
          <input type="text" placeholder="Unit Name" class="form-control" name="name" formControlName="name"/>
          <div *ngIf="unitForm.controls.name.errors && unitForm.controls.name.dirty" >
            <p *ngIf="unitForm.controls.name.errors.required">Field is required</p>
            <p *ngIf="unitForm.controls.name.errors.minlength">Minimum {{ unitForm.controls.name.errors.minlength.requiredLength }} characters </p>
            <p *ngIf="unitForm.controls.name.errors.maxlength">Maximum {{ unitForm.controls.name.errors.maxlength.requiredLength }} characters </p>
          </div>
        </div>
        <div class="form-group">
          <label>Name</label>
          <input type="text" placeholder="Thai Name" class="form-control" name="tname" formControlName="tname"/>
          <div *ngIf="unitForm.controls.tname.errors && unitForm.controls.tname.dirty" >
            <p *ngIf="unitForm.controls.tname.errors.required">Field is required</p>
            <p *ngIf="unitForm.controls.tname.errors.minlength">Minimum {{ unitForm.controls.tname.errors.minlength.requiredLength }} characters </p>
            <p *ngIf="unitForm.controls.tname.errors.maxlength">Maximum {{ unitForm.controls.tname.errors.maxlength.requiredLength }} characters </p>
          </div>
        </div>
        <div class="form-group">
          <label>Status</label>
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="active" value="A" name="active" formControlName="active">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Active</span>
          </label>
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="inactive" value="I" name="active" formControlName="active" >
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Inactive</span>
          </label>
          <div *ngIf="unitForm.controls.active.errors && unitForm.controls.active.dirty">
            <p *ngIf="unitForm.controls.active.errors.required">Field is required</p>
          </div>
        </div>
        <div class="form-group">
          <p *ngIf="message" style="color: red;">{{ message }}</p>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button type="submit" class="btn btn-success with-margins" [disabled]="!unitForm.valid" >{{title}}</button>
        <button type="button" class="btn btn-outline-info with-margins" (click)="onClickBack()">Back</button>
        <button type="button" class="btn btn-outline-warning with-margins"  *ngIf="isDeleted" (click)="onClickRestore()">Restore</button>
      </nb-card-footer>
    </nb-card>
    </form>
  </div>
</div>
  